.footer {
  margin: 0 auto;
  width: 100%;
  max-width: 165px;
  padding-bottom: 24px;
}

.footer__copyrights {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .footer {
    margin: 0 auto;
    margin-top: 88px;
  }
  .footer__copyrights {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 62px;
    margin: 0 auto;
  }

  .footer__copyrights {
    line-height: 14px;
  }
}
