.intro {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.intro__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  position: relative;
  max-width: 785px;
  margin-left: 148px;
  margin-top: 92px;
}

.intro__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  max-width: 720px;
  margin-left: 148px;
  position: relative;
  margin-top: 40px;
}

.intro__artist-name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
  margin-right: 412px;
  margin-top: 10px;
  max-width: 720px;
}

.intro__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 32px;
  color: #ffffff;
  max-width: 720px;
  margin-left: 148px;
}

@media screen and (max-width: 960px) {
  .intro {
    margin: 0 auto;
  }
  .intro__title {
    max-width: 720px;
    padding-bottom: 40px;
    margin-top: 88px;
    margin: 0 auto;
  }

  .intro__subtitle {
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .intro__artist-name {
    padding-bottom: 32px;
    margin: 0 auto;
  }
  .intro__description {
    padding-bottom: 90px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    margin: 0 auto;
  }
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .intro__subtitle {
    max-width: 288px;
    margin: 0 auto;
    line-height: 30px;
  }
  .intro__artist-name {
    margin: 0 auto;
    max-width: 288px;
  }
  .intro__description {
    max-width: 288px;
    margin: 0 auto;
  }
}
