.items {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  grid-gap: 16px;
  margin-top: 118px;
}

@media screen and (max-width: 960px) {
  .items {
    max-width: 720px;
    margin-top: 90px;
    margin-bottom: 88px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .items {
    max-width: 288px;
    margin-top: 92px;
    margin-bottom: 62px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    row-gap: 12px;
  }
}
