.item {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .item {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .item {
    max-width: 288px;
    height: 216px;
  }
}
