.logo {
  padding-top: 34px;
  margin: 0 auto;
  max-width: 270px;
  height: 70px;
  display: block;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .logo {
    max-width: 200px;
    height: 51.85px;
  }
}
