.place {
  display: grid;
  grid-template-columns: minmax(460px, 1fr) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header artist"
    "image text"
    "footer text";
  gap: 48px 40px;
  align-self: flex-end;
  margin: 0 auto 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  max-width: 460px;
  grid-area: header;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  margin-top: 0;
}

.place__artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.place__artist-url {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
  max-width: 50px;
  display: grid;
  grid-area: artist;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.place__artist-name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  max-width: 456px;
  grid-area: artist;
  display: grid;
  margin-bottom: 0;
  margin-top: 0;
}

.place__span-artist {
  display: block;
}

.place__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  grid-area: text;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.place__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 484px;
  margin-top: 0;
  margin-bottom: 0;
}

.place__image {
  height: 460px;
  max-width: 460px;
  border-radius: 0px;
  grid-area: image;
  box-sizing: border-box;
}

.place__button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.78px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background-color: #0278fe;
  border-radius: 4px;
  grid-area: footer;
  max-width: 248px;
  border: none;
  margin-top: 0;
  padding: 13px 20px;
  text-decoration: none;
  box-sizing: border-box;
  height: 48px;
}

.place__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 1010px) {
  .place {
    gap: 48px 15px;
  }
}

@media screen and (max-width: 960px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 46px 28px;
    margin-bottom: 72px;
  }

  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin-top: 0;
  }

  .place__artist-url {
    padding-top: 0;
  }

  .place__artist-name {
    max-width: 352px;
    padding-top: 0;
  }

  .place__description {
    max-width: 352px;
  }

  .place__image {
    max-width: 340px;
    height: 340px;
    object-fit: cover;
  }

  .place__button {
    height: 48px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    margin-bottom: 60px;
    gap: 30px 15px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "artist"
      "image"
      "text"
      "footer";
    row-gap: 30px;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
  }
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-bottom: 30px;
  }

  .place__artist-url {
    max-width: 288px;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  .place__artist-name {
    margin-right: 16px;
    margin-left: 16px;
    max-width: 288px;
    padding-top: 0;
    margin-bottom: 30px;
  }

  .place__text {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 30px;
  }

  .place__description {
    max-width: 288px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .place__image {
    height: 320px;
    max-width: 320px;
    margin-right: 0;
    margin-left: 0;
    object-fit: cover;
    width: 100%;
    margin-bottom: 30px;
  }

  .place__button {
    max-width: 288px;
    margin: 0 auto;
    padding: 13px 40px;
    height: 48px;
  }
}
